.signup-page {
    background-color: #00BFFF; /* Electric Blue background */
    padding: 50px;
  }
  
  .signup-card {
    background-color: #FF8C00; /* Bright Orange */
    border: 1px solid #FFD700; /* Sunset Yellow for the border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-header {
    font-size: 1.5rem;
    background-color: #FF8C00; /* Bright Orange */
    color: white;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFD700; /* Sunset Yellow border */
    border-radius: 5px;
  }
  
  .signup-button {
    background-color: #32CD32; /* Neon Green */
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #B22222; /* Deep Red on hover */
  }
  
  .bg-danger {
    background-color: #B22222; /* Deep Red for error background */
  }  

  /* Voice Command*/

/* Ensure the form and buttons are properly aligned */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.signup-button {
  margin-bottom: 10px; 
}

.voice-command-button {
  display: block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 20px; 
}

.voice-command-button:hover {
  background-color: #0056b3; 
}

.voice-command-button:active {
  background-color: #004494; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.voice-command-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}
